.about {
   display: flex;
   background-color: #f5f5f5;
   flex-direction: column;
   justify-content: column;
   text-align: left;
   width: 300px;
   padding: 0 25px 23px 25px;
}

.header {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.texts {
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  color: #4a4e74;
  line-height: 1.5;
}